// other pages
.title-block
   background: linear-gradient(180deg, #e91b47 0%, #6a0017 100%)
   .notes
      background: url("../img/title-bg-notes.png") no-repeat left 68%
      padding: 36px 0 32px 0
   .container
      .row
         display: flex
         align-items: flex-end
         justify-content: space-between
   .title
      color: #ffffff
      font-family: Montserrat
      font-size: 70px
      font-weight: 700
      line-height: 1.1
      text-transform: uppercase
      margin-bottom: 0
      .uptitle
         font-size: 54px
         font-weight: 600
   .text
      color: #ffffff
      font-family: Montserrat
      font-size: 16px
      font-weight: 400